html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -275px;
    padding: 0;
}

.wrap > .container {
     padding: 10px 15px 370px;
}
.background > .container {
    padding: 0px 0px 370px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

label.control-label {
  display: block;
}

.form-group.has-success label.btn {
    color: white;
}

.form-group .btn-group {
  margin-left: 0!important;
}

div.required label:first-child:not(.btn):after {
    content: ' *';
    color: red;
}

#main-navbar > li > a {
    color: white!important;
    background-color: #6ea5ff;
}

.slick-slide img {
    margin: 0 auto;
}

#about_map {
    height: 500px;
    width: 100%;
}

.gallery__image {
    height: 80px;
}

.btn-cart {
    color: #24a3d8!important;
}

.product-item {
    border-radius: 10px;
    margin-top: 15px;
    border: 2px solid rgba(36, 163, 216, 0.22);
}

.product-item-view {
    background-color: rgba(237, 237, 237, 0.29);
    padding: 20px;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px solid rgba(36,163,216,0.5);
    box-shadow: 0 0 10px rgba(36,163,216,0.5);
}

.product-title {
    position: relative;
    margin-bottom: 50px;
}

.product-title:after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #24a3d8;
    position: absolute;
    bottom: -25%;
    left: 0;
}

.product-list div:nth-child(even) .product-item{
    background-color: #ededed;
}

.product-item img {
    margin: 0 auto;
    max-height: 250px;
    padding: 20px;
}

.product-item .btn-group {
    width: 100%;
    margin: 5px 0 10px;
}

.product-item h2 {
    /*margin-top: 0;*/
}

.product-item .btn-product:last-child {
    border-radius: 0 30px 30px 0;
    /*color: yellow;*/
    font-weight: 800;
    margin-left: 3px;
}
.product-item .btn-product:first-child {
    border-radius: 30px 0 0 30px;
}

.product-item .btn-group > .btn-product {
    width: 49%;
    background-color: #24a3d8;
    padding: 10px 15px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    border-color: transparent;
}

.product-view .btn, .btn-default, .btn-default:hover {
    color: white;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 700;
    background-color: #24a3d8;
    border: none; 
    /*margin-bottom: 50px;*/
}

.headroom--pinned {
    display: block;
}
.headroom--unpinned {
    display: none;
}

.product-text {
    margin-bottom: 50px;
}

.product-text .lead {
    position: relative;
    top: 5px;
    margin-right: 30px;
    font-size: 25px;
    line-height: 30px;
}

.navbar-right {
    float: right !important;
    margin-right: 0;
}

p {
    word-wrap: break-word;
}